@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400&display=swap");

  body {
    @apply min-h-screen bg-black;
    font-family: Unna, serif;
    user-select: none;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
}

@layer components {
  .full-screen-container {
    @apply min-h-screen;
  }
  .map-bg-container {
    @apply absolute w-full z-0 bg-black h-screen;
  }
  .overlay {
    @apply absolute w-full bg-black opacity-30 pointer-events-none h-screen;
  }
  .content-container {
    @apply w-80 max-w-sm pointer-events-none;
    font-family: Unna, serif;
  }

  .blob {
    @apply w-48 h-48 bg-pink-400 rounded-full absolute transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .stories-container {
    @apply w-full max-w-2xl h-screen place-items-center place-content-center grid;
    margin: 0 auto;
  }

  .story {
    @apply w-full h-full p-6;
  }

  .story-with-header {
    @apply pt-20;
  }

  .btn {
    @apply block w-full text-center p-4 font-bold rounded-md transition-all duration-200 ease-in-out;
  }

  .btn-secondary {
    @apply text-gray-200;
  }

  .btn-secondary:hover {
    @apply bg-gray-200 bg-opacity-25;
  }

  .social .btn-secondary {
    @apply p-1 px-2;
  }

  .seeMoreReplayComment {
    height: 10vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  }

  .seeMore {
    height: 10vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
  }

  .seeMoreReplayComment {
    height: 10vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  }

  .seeMoreExpanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 99999;
  }

  .seeMoreText {
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 2.2vh;
    text-transform: capitalize;
    opacity: 1;
    font-size: 0.8em;
    transition: opacity 300ms ease-in-out;
  }

  .seeMoreIcon {
    color: white;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 0.4vh;
    opacity: 1;
    filter: drop-shadow(0 0 5px black);
    text-transform: capitalize;
    transition: opacity 300ms ease-in-out;
  }

  .seeMoreClose {
    position: absolute;
    filter: drop-shadow(0 3px 2px #ccc);
    right: 0.5rem;
    top: 0.5rem;
    font-size: 1.5rem;
    opacity: 0.7;
    padding: 1rem;
  }
}

@layer utilities {
}
