@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

  body {
    @apply min-h-screen;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
    font-family: "Poppins", sans-serif;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
}

@layer components {
  .full-screen-container {
    @apply min-h-screen;
  }
  .map-bg-container {
    @apply absolute w-full z-0 bg-black;
    height: 100vh;
  }
  .overlay {
    @apply absolute w-full bg-black opacity-30 pointer-events-none;
    height: 100vh;
  }
  .content-container {
    @apply w-64 max-w-sm pointer-events-none relative;
  }

  .blob {
    @apply w-48 h-48 bg-pink-400 rounded-full absolute transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer utilities {
}
