@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

  body {
    @apply min-h-screen;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
    font-family: "Poppins", sans-serif;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
}

@layer components {
  .full-screen-container {
    @apply min-h-screen grid place-items-center place-content-center;
  }
  .map-bg-container {
    @apply absolute w-full pointer-events-none z-0;
    height: 100vh;
  }
  .overlay {
    @apply absolute w-full bg-black opacity-20;
    height: 100vh;
  }
  .content-container {
    @apply h-full z-10 grid place-items-center text-center px-4;
  }
}

@layer utilities {
}
